<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10" xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest" xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10" IgnorableNamespaces="uap mp">
  <Identity Name="9b762f79-8095-4768-915e-c4da4b83b68c" Publisher="CN=oskar" Version="1.0.0.0" />
  <mp:PhoneIdentity PhoneProductId="9b762f79-8095-4768-915e-c4da4b83b68c" PhonePublisherId="00000000-0000-0000-0000-000000000000" />
  <Properties>
    <DisplayName>Mikrokontroler8051 2.0</DisplayName>
    <PublisherDisplayName>oskar</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>
  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>
  <Resources>
    <Resource Language="x-generate" />
  </Resources>
  <Applications>
    <Application Id="App" Executable="$targetnametoken$.exe" EntryPoint="Mikrokontroler8051_2._0.App">
      <uap:VisualElements DisplayName="Mikrokontroler 8051" Square150x150Logo="Assets\Square150x150Logo.png" Square44x44Logo="Assets\Square44x44Logo.png" Description="Mikrokontroler 8051" BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png">
        </uap:DefaultTile>
        <uap:SplashScreen Image="Assets\SplashScreen.png" BackgroundColor="white" />
        <uap:InitialRotationPreference>
          <uap:Rotation Preference="portrait" />
        </uap:InitialRotationPreference>
      </uap:VisualElements>
    </Application>
  </Applications>
</Package>